
BACKEND_URL=http://127.0.0.1:8000  
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8000 /
AUTH_URL=http://localhost:3000 // To test on local network, change this to network IP address
NEXT_PUBLIC_APP_URL=http://localhost:3000 // To test on local network, change this to network IP address
AUTH_SECRET=your-auth-secret